* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 0.7px;
}

body {
    width: 80%;
    margin: 10px auto;
}

.header {
    height: 100px;
}

.header img {
    width: 120px;
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #a0a0a0;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    font-variant: small-caps;
    margin-right: 10px;
}

nav li:hover {
    border-bottom: 3px solid black;
    transition: 0.2s;
}

.top-container {
    margin-top: 30px;
    height: 450px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('../img/banner.jpg');
    background-position: center;
}

.top-container p {
    position: relative;
    color: white;
    max-width: 53%;
    padding-left: 50px;
    top: 300px;
}

.title {
    font-size: 1.5rem;
}

.paragraph {
    font-size: 0.8rem;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.bottom-container {
    margin-top: 40px;
}

.bottom-container::after {
    content: "";
    display: table;
    clear: both;
}

.section-name {
    margin-top: 15px;
}

.section-paragraph {
    margin-top: 5px;
    color: #a0a0a0;
}

.top-content p {
    color: #a0a0a0;
    font-size: 1rem;
}

.top-content {
    height: 60px;
    margin-bottom: 30px;
}

.bg-img {
    width: 100%;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.img1 {
    background-image: url('../img/img-1.jpg');
    background-size: 80%;
    z-index: 3;
}

.img2 {
    background-image: url('../img/banner-2.jpg');
    background-size: 80%;
}

.img3 {
    background-image: url('../img/img-3.jpg');
    background-size: 130%
}

.img1:hover {
    background-image: url('../img/img-6.jpg');
}

.img2:hover {
    background-image: url('../img/img-4.jpg');
    background-position: 50px -70px;
}

.img3:hover {
    background-image: url('../img/img-5.jpg');
}

.left-column {
    margin-top: 20px;
    margin-right: 20px;
    height: 78%;
    width: 20%;
    float: left;
}

.mid-column {
    margin-top: 20px;
    width: calc(100% - 40% - 40px);
    height: 78%;
    float: left;
}

.right-column {
    margin-top: 20px;
    margin-left: 20px;
    height: 78%;
    width: 20%;
    float: right;
}

footer {
    width: 100%;
    height: 40px;
}

footer p {
    text-align: center;
}

footer span {
    color: red;
    font-size: 1.5rem;
    vertical-align: -3px;
}